.blog-card-page{
 padding: 0rem 4rem 4rem 4rem;
}
.blog-card-container{
  position: relative;
  height:40vh;
  width:55%;
  display: flex;
  color: black;
  box-shadow: 0px 1px .2rem grey;
  /* background-color: whitesmoke; */
  margin-top: 2rem;
  
}

.image{
  width: 50%;
  height: 40vh;
  overflow: hidden;
  background-color: black;
}
.image img{
  height: 100%;
  width: 100%;
}
.image h1{
  position: absolute;
  top: 4px;
  left: 8px;
  background-color: #014b7c;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  
}
.card-data-detail{
  padding: 2rem;
  width: 65%;
}
.card-data-detail h1{
  color: #014b7c;
  margin-top: 2rem;
  font-size: 2rem;
}
.card-data-detail h2{
  color: #014b7c;
  margin-top: 2rem;
  font-size: 2.3rem;

}
.btn-inline {
  border: none;
  color: #03037f;
  font-size: 1.5rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 700;
}
.btn-inline span {
  margin-left: 3px;
  transition: all 0.2s;
}
.btn-inline:hover span {
  margin-left: 8px;
}

.btn-inline:hover {
  color: #333;
  border-bottom: 1px solid #333;
}

.btn-inline:focus {
  outline: none;
  animation: pulsate 1s infinite;
}