@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300&family=Josefin+Sans:wght@100;200;300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/clash-display");
.blog-card-page{
 padding: 3rem 3rem 5rem 3rem;
}
.blog-card-container{
  position: relative;
  height:40vh;
  width:70%;
  display: flex;
  color: black;
  box-shadow: 0px 1px .2rem grey;
  /* background-color: whitesmoke; */
  margin-top: 2rem;
  
}

.image{
  width: 50%;
  height: 40vh;
  overflow: hidden;
  background-color: black;
  object-fit: cover;
  margin-left: -3rem;

}
.image img{
  height: 100%;
  width: 100%;
  
}
.image h1{
  position: absolute;
  top: 4px;
  left: 8px;
  background-color: #014b7c;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  
}
.card-data-detail{
  padding: 2rem;
  width: 60%;
}
.card-data-detail h1{
  color: #014b7c;
  /* margin-top: 1rem; */
  font-size: 1.5rem;
}
.card-data-detail h2{
  color: #014b7c;
  margin-top: 1rem;
  font-size: 2rem;

}
.card-data-detail p{
  color: #555;
  font-family: "Montserrat", serif;
}
.button-blog {
  border: none;
  color: #03037f;
  font-size: 1.3rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
}
.button-blog span {
  margin-left: 3px;
  transition: all 0.2s;
}
.button-blog:hover span {
  margin-left: 8px;
}

.button-blog:hover {
  color: #333;
  /* border-bottom: 1px solid #333; */
}
