* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Footer{
  background-color:#326ba0;
  color: white;
  padding: 5rem;
  font-size: 1.4rem;
  
}
.logo {
  width: 230px;
  height: 140px;

}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 
}
.container-copyright{
  padding: 0rem 5rem 0rem 5rem;
}
.footer-image{
  background-color: #01016f;
}

.list{
  list-style: none;
  flex-wrap: wrap;

}
.list-item{
  margin-left: -1rem;
  margin-bottom: .9rem;

}
.list-item::before{
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: .7rem;
  background-color: #fff;


}
