@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300&family=Josefin+Sans:wght@100;200;300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300&family=Josefin+Sans:wght@100;200;300;400&family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header-container {
  min-height: 35vh;


}
.Top-part {
  height: 8vh;
  padding: 0% 6% 0% 8%;
  background-color: #014b7c;
}
.Top-part-link-container {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 600;
}
.Top-part-link {
  text-decoration: none;
  color: white;
  padding: 1.3rem;
  text-transform: uppercase;
}
.Top-part-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #014b7c;
  border-radius: 50% 0% 50% 0%;
  transition: 2s all;
}
@media only screen and (max-width: 575.98px) {
  .Top-part div h4 {
    display: none;
  }
}
.Middle-part {
  height: 15vh;
  
  background-color: #e9eaec;
 
  padding: 0% 6% 0% 6%;
 
}
.Middle-part-line-text {
  height: 1vh;
  width: 10%;
  background-image: linear-gradient(
    45deg,
    #014b7c 0%,
    #014b7c 50%,
    transparent 50%
  );
  margin-left: 1.5rem;
}
.search {
  /* background-color: orangered; */
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 31.25em) {
  /*500px */
  .search {
    order: 1;
    flex: 0 0 100%;
    background-color: #fff;
  }
}
.search__input {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #ffff;
  color: inherit;
  border: none;
  padding: 1.5rem 2rem;
  width: 100%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: white;
}
.search__input:focus + .search__button {
  background-color: white;
}
.search__button {
  border: none;
  background-color: white;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: #999;
}
.search::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
  font-size: 2rem;
}

.Santech-text-span-1{
  font-weight: 900;
  padding: 1rem;
  color: #014b7c;
  letter-spacing: 2rem;
}
.Santech-text-span2{
  font-weight: 900;
  padding: 1rem;
  color: #88898d;
  letter-spacing: 2rem;
}
.Santech-text-span3 {
  letter-spacing:"2px";
  color:"#014b7c"

}
.last-link-home{
  padding: 1rem;
  font-size: 1.5rem;
  margin-left: 10rem;
  color: #3b82f6,

}
.last-link-radio{
  padding: 3rem;
}



@media only screen and (max-width: 490px) and (min-width: 200px){ 
  .Santech-text-logo{
    padding-right: 15rem;
  }
  .Santech-text-span-1{
    letter-spacing: 3px;
    font-size: 1.3rem;
  }
  .Santech-text-span2{
    letter-spacing: 3px;
    font-size: 1.3rem;
   
  }
  .Santech-text-span3{
    font-size: 1.3rem;
    letter-spacing: 0px;
  }
  .search {
    order: 2;
    flex: 0 0 20%;
    background-color: #fff;
  }
  .search__input {
    font-family: sans-serif;
    font-size: 9px;
    background-color: #fff;
    color: inherit;
    border: none;
    padding: 1rem 1rem;
    width: 100%;
    transition: all 0.2s;
    margin-right: -3.25rem;
  }

}
@media only screen and (max-width: 500px) {
  .search {
    flex: 0 0 100%;
    display: flex;
  }

  .Middle-part-call {
    display: none;
  }
  
 
}

@media only screen and (max-width: 575.98px) {
  .Middle-part-call {
    display: none;
  }
}

@media only screen and (max-width:  576px){
  .Santech-text-logo{
    padding-right: 18rem;
  }
  .Santech-text-span-1{
    letter-spacing: 5px;
    font-size: 1.3rem;
  }
  .Santech-text-span2{
    letter-spacing: 5px;
    font-size: 1.3rem;
   
  }
  .search__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #999;
    margin-left: 4px;
  }
  .search__input {
    font-family: sans-serif;
    padding: 1rem 1rem;
    width: 100%;
  }
  .last-link-home{
    padding: 1rem;
    margin-left: 10px;
    color: #3b82f6,
  
  }
  .last-link-radio{
    margin-left: 10px, 

  }
}
@media only screen and (max-width:  768px){
  .last-link-home{
    padding: 1rem;
    margin-left: 10px;
    color: #3b82f6,
  
  }
  
}
@media only screen and (max-width:  992px){
  .last-link-home{
    padding: 1rem;
    margin-left: 10px;
   
  
  }
  .Santech-text-logo{
    padding-right: 17rem;
  }
  
}
@media only screen and (max-width:  1200px){
  .last-link-home{
    padding: 1rem;
    margin-left: 10px;
   
  
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  .Middle-part-call {
    display: none;
  }
}
.last-part {
  padding: 0% 6% 0% 6%;
  background-color: #f9fafb;
  
}

.last-link:hover{
  text-decoration: none;
  background-color: #0c4a6e;
  color: #fff;
  border-radius: 50% 0% 50% 0%;
  transition: 2s all;

}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/* 
 X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

 Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

 Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

 Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

 X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

 XX-Large devices (larger desktops)
No media query since the xxl breakpoint has no upper bound on its width

@media only screen and (max-width: 600px) and (min-width: 400px)*/
