@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300&family=Josefin+Sans:wght@100;200;300;400&family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.header-box{
  background-color: #03037f;
  font-size: 1.5rem;
  color: white;
  font-family: 'Archivo', sans-serif;
  height: 6vh;
}
.header-links-logo-container{
  padding: 1rem;
  box-shadow: .1rem .1rem .6rem grey;
}
.header-links-social-media{
  text-decoration: none;
  color: white;
  padding-left: 3rem;
}
.logo-container{
  padding-left: 10rem;
}

.header-links-container{
  padding-right: 10rem;
 
}
.header-links{
  font-size: 1.8rem;
  padding: 2rem;
  color: #03037f;
}
